/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
    padding: 0;
    margin: 0;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
  body {
    font-family: Arial,Helvetica,sans-serif;
  }
nav {
    background: black;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
Body {
    margin: 0;
}
/******************************************
/* LAYOUT
/*******************************************/

/* NavBar */
header {
    background-color: black;
}
.topnav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
}
.topnav a, .topnav form {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid #ccc;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav .icon {
    display: none;
}
.logo {
    background-image: url(/images/bbclogo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 8rem;
    color: #f0f8ff00 !important;
    border-left: none !important;
    text-align: start !important;
}
.signIn {
    background-image: url(/images/sign-in.jpg);
    background-repeat: no-repeat;
    background-position:left;
    text-align: left !important;
    padding-left: 2rem !important;
    width: 15rem;
}
.more {
    background-image: url(/images/arrow-down.PNG);
    background-repeat: no-repeat;
    background-position: right;
    width: 10rem;
    text-align: start !important;
}
form input {
    background-image: url(/images/search-icon.PNG);
    background-repeat: no-repeat;
    background-position: right;
}
/* Container */
.container {
    max-width: 80rem;
    margin: 0 auto;
}
/* Date */
.welDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}
.welDate h2 {
    color: #4a4a4a;
}
.welDate h3 {
    color: #8c8c8c;
}
/*  */
/******************************************
/* MEDIA QUERIES
/*******************************************/

/* NavBar */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive {display: block;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .welDate {
      display: none;
  }
}
/* Mobile menu */

/* Tablet menu */
@media all and (min-width: 600px) {
    
}
/* Desktop menu */
@media all and (min-width: 900px) {

}