/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
    padding: 0;
    margin: 0;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
  body {
    font-family: Arial,Helvetica,sans-serif;
  }
nav {
    background: #222;
    padding: 5px 20px;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/******************************************
/* LAYOUT
/*******************************************/
header {
    background-color: black;
    color: white;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
.container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.nav_bar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 45px;
}
.nav_bar li {
    border-left: 1px solid white;
    height: inherit;
    padding: 15px;
}
.nav_bar li:nth-child(1) {
    border-left: none;
}
.signin {
    width: 10rem;
}
.signin span {
    border: none;
    position: relative;
    bottom: 7px;
}
.more {
    width: 9rem;
}
.welcome-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
    width: 100%;
}
.welcome-date h2 {
    float: left;
}
.welcome-date span {
    float: right;
}
.articles {
    color: white;
}
#main-article {
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("/images/Question.png");
  background-size: 100% 100%;
  height: 390px;
  width: 50%;
  float: left;
}
.main-article h1, .main-article p, .main-article span {
  position: relative;
  top: 210px;
  margin: 15px;
}
.news-module {
    padding-top: 3rem;
}
.side-articles {
    width: 81rem;
}
.art {
  background-size: 100% 100%;
  width: 23%;
  height: 190px;
  margin: 0 10px 10px 10px;
  float: left;
}
.art h3, .art span {
  position: relative;
  top: 90px;
  margin: 15px;
  font-size: 100%;
}
#article2 {
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("/images/watchmen1.jpg");
  background-size: 100% 100%;
}
#article3{
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("/images/watchmen2.jpg");
  background-size: 100% 100%;
}
#article4 {
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("/images/watchmen3.jpg");
  background-size: 100% 100%;
}
#article5 {
  background: linear-gradient( rgba(0, 0, 0, -0.5), rgba(0, 0, 0, 0.5) ), url("/images/watchmen4.jpg");
  background-size: 100% 100%;
}
.news-module ul {
    display: flex;
    justify-content: center;
}
.news-module li {
    width: 26rem;
}
.news-module img {
    width: 26rem;
}
.media-title {
    font-weight: bold;
    font-size: 25px;
}
.news-module p {
    padding: 10px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
/* Mobile menu */

/* Tablet menu */
@media all and (min-width: 600px) {
    
}
/* Desktop menu */
@media all and (min-width: 900px) {

}